Repository nikolay-e/yaytsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, vitest-unit

.pre-commit-config.yaml:

# Pre-commit hooks for code quality and consistency
# See https://pre-commit.com for more information

repos:
  # General file checks (auto-fix enabled where possible)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md] # Auto-fix trailing whitespace, preserve MD line breaks
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe] # Allow custom tags in docker-compose
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: fix-byte-order-marker # Auto-remove UTF-8 BOM
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  # TypeScript/JavaScript formatting (auto-fix with --write)
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [javascript, jsx, ts, tsx, json, yaml, markdown]
        exclude: |
          (?x)^(
            package-lock\.json|
            .*\.min\.js|
            jellyfin-api-spec\.json
          )$
        args: [--write, --ignore-unknown, --log-level=warn]

  # TypeScript linting
  - repo: local
    hooks:
      - id: tsc
        name: TypeScript type check
        entry: bash -c 'cd packages/core && npx tsc --noEmit'
        language: system
        files: \.ts$
        pass_filenames: false

      - id: vitest-unit
        name: Run unit tests
        entry: bash -c 'cd packages/core && npm test'
        language: system
        files: \.(ts|js)$
        pass_filenames: false
        stages: [pre-push]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: [--fix]
        exclude: |
          (?x)^(
            node_modules/|
            jellyfin-api-spec\.json
          )$

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: [-x]

feat: compute CSP hashes at runtime from index.html
  Dockerfile
  docker-entrypoint.sh
  nginx.conf.template
Due: none

fix: use '#' delimiter in sed to avoid conflicts with base64 slashes
  docker-entrypoint.sh
Due: none

fix: add Cloudflare injected script hashes to CSP
  nginx.conf.template
Due: none

feat: implement continuous album playback (#11)
  CLAUDE.md
  package-lock.json
  packages/core/tests/e2e/queue.e2e.test.ts
  packages/web/src/lib/components/library/TrackList.svelte
  packages/web/src/lib/stores/player.ts
Due: tsc, vitest-unit

fix: update @vitest/ui to 4.0.6 to match vitest version
  package-lock.json
  packages/core/package.json
Due: none

fix: update vitest CLI options for version 4.x compatibility
  .github/workflows/ci.yml
Due: none

fix: add 2 more Cloudflare inline script CSP hashes
  nginx.conf.template
Due: none

docs: remove duplicate workspace config from CLAUDE.md
  CLAUDE.md
Due: none

fix: address 18 security and quality issues from code audit
  .dockerignore
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .treemapperignore
  Dockerfile
  docker-compose.yml
  eslint.config.js
  nginx.conf
  nginx.conf.template
  packages/core/src/api/client.ts
  packages/core/src/api/playlists.ts
  packages/core/src/config/env.ts
  packages/platform/src/web/html5-audio.ts
  packages/web/package.json
  packages/web/src/lib/stores/auth.ts
  packages/web/static/service-worker.js
Due: tsc, vitest-unit

feat: mobile optimization phase 1 - foundation and quick wins
  packages/web/src/app.css
  packages/web/src/lib/components/library/TrackList.svelte
  packages/web/src/lib/components/player/Controls.svelte
  packages/web/src/lib/components/player/SeekBar.svelte
  packages/web/src/lib/components/ui/Input.svelte
  packages/web/src/routes/+layout.svelte
  packages/web/static/manifest.json
  packages/web/static/service-worker.js
  packages/web/vite.config.ts
Due: tsc, vitest-unit

feat: mobile optimization phase 3 - touch interactions
  CLAUDE.md
  Dockerfile
  package-lock.json
  package.json
  packages/core/tests/e2e/README.md
  packages/core/tests/e2e/features/favorites.feature.test.ts
  packages/core/tests/e2e/features/playlists.feature.test.ts
  packages/core/tests/e2e/features/queue-management.feature.test.ts
  packages/core/tests/e2e/fixtures/scenarios.ts
  packages/web/src/lib/components/library/AlbumCard.svelte
  packages/web/src/lib/components/player/Controls.svelte
  packages/web/src/lib/components/player/VolumeModal.svelte
  packages/web/src/lib/utils/haptics.ts
Due: tsc, vitest-unit

test: fix cleanup failures when fixtures not initialized
  packages/core/src/api/client.ts
  packages/core/tests/e2e/setup.ts
Due: tsc, vitest-unit

fix: Favorites API userId query param, extend pre-commit hooks
  .pre-commit-config.yaml
  packages/core/src/api/client.ts
  packages/core/src/api/favorites.ts
Due: tsc, vitest-unit

fix: use correct favorite endpoints POST/DELETE /UserFavoriteItems
  packages/core/src/api/favorites.ts
Due: tsc, vitest-unit

fix: add test serialization and prettier lock file exclusion
  .pre-commit-config.yaml
  packages/core/vitest.config.ts
Due: tsc, vitest-unit

chore: bump version to 0.1.1 to test auto-deployment
  helm/jellyfin-miniclient/Chart.yaml
Due: none

feat: use SHA-based Docker tags for ArgoCD auto-update
  .github/workflows/ci.yml
Due: none

Fix mobile UI issues: volume control, seekbar, images, navigation
  packages/web/src/lib/components/library/AlbumCard.svelte
  packages/web/src/lib/components/navigation/BottomTabBar.svelte
  packages/web/src/lib/components/player/Controls.svelte
  packages/web/src/lib/components/player/PlayerBar.svelte
  packages/web/src/lib/components/player/SeekBar.svelte
  packages/web/src/routes/+layout.svelte
Due: none

Fixing docker build
  package-lock.json
  package.json
Due: none

adding backend CLAUDE.md with plan
  server/CLAUDE.md
Due: none

Generate splash screens and remove server hostname from login page
  packages/web/scripts/generate-icons.js
  packages/web/src/lib/components/auth/LoginForm.svelte
  packages/web/static/splash-1125x2436.png
  packages/web/static/splash-1170x2532.png
  packages/web/static/splash-1179x2556.png
  packages/web/static/splash-1284x2778.png
  packages/web/static/splash-1290x2796.png
  packages/web/static/splash-750x1334.png
  packages/web/static/splash-828x1792.png
Due: vitest-unit

Fix: Prevent caching incomplete/broken images in ImageCache
  packages/web/src/lib/cache/image-cache.ts
Due: tsc, vitest-unit

Fix logout: redirect to login and clear all state
  packages/web/src/lib/stores/library.ts
  packages/web/src/lib/stores/player.ts
  packages/web/src/routes/+layout.svelte
Due: tsc, vitest-unit

Remove image caching - use direct URLs
  packages/web/src/lib/components/library/AlbumCard.svelte
  packages/web/src/lib/stores/auth.ts
  packages/web/src/lib/stores/library.ts
Due: tsc, vitest-unit

feat: performance optimization v0.2.0 (#20)
  package-lock.json
  packages/core/src/api/client.ts
  packages/platform/src/web/html5-audio.ts
  packages/web/package.json
  packages/web/src/lib/components/player/Controls.svelte
  packages/web/src/lib/components/ui/BlurHashImage.svelte
  packages/web/src/lib/stores/player.ts
  packages/web/src/lib/utils/image.ts
  packages/web/static/config.js
  packages/web/static/manifest.json
  packages/web/vite.config.ts
Due: tsc, vitest-unit

feat: performance optimization v0.2.0 (#20)
  .github/workflows/ci.yml
  CLAUDE.md
  package-lock.json
  packages/core/src/api/client.ts
  packages/core/tests/e2e/README.md
  packages/core/tests/e2e/setup.ts
  packages/core/vitest.config.ts
  packages/platform/src/web/html5-audio.ts
  packages/web/.env.example
  packages/web/package.json
  packages/web/src/lib/components/player/Controls.svelte
  packages/web/src/lib/components/ui/BlurHashImage.svelte
  packages/web/src/lib/stores/player.ts
  packages/web/src/lib/utils/image.ts
  packages/web/static/config.js
  packages/web/static/manifest.json
  packages/web/tests/e2e/README.md
  packages/web/vite.config.ts
Due: tsc, vitest-unit

feat: add virtual scrolling and infinite scroll for albums
  package-lock.json
  package.json
  packages/web/package.json
  packages/web/src/lib/components/library/AlbumGrid.svelte
  packages/web/src/lib/stores/library.ts
  packages/web/src/routes/albums/+page.svelte
Due: tsc, vitest-unit
